/* Reset and base styles */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
	font-weight: inherit;
}

address {
  font-style: normal;
}

label {
	cursor: pointer;
}

body {
  background: grey;

}
.header {
  height: 0vh;
}
.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.139);
  max-width: 100vh;
  margin: auto;
}
.slider {
  display: flex;
  flex-direction: column;
}
.imagesWrapper {
  overflow: hidden;
  display: flex;
  height: 70vh;

}
.images {
  display: flex;
  align-items: center;
  margin-left: 30%;
  gap: 31%

}
.meme {
  height: 80%;
  width: 80%;
}

.sliderFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 1vh;
}
.dots input:hover {
  background: rgb(255, 255, 255);
}

input[type="radio"]:checked {
  cursor: pointer;
  background-color: rgb(164, 194, 253);
}
input[type="radio"] {
  appearance: none;
  cursor: pointer;
  width: 2rem;
  height:  2rem;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 50%;
  transition: 0.2s all linear;
  background-clip: content-box;
  margin: 0rem;
  padding: 0rem;
}
