* {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

address {
  font-style: normal;
}

label {
  cursor: pointer;
}

body {
  box-sizing: border-box;
  background: linear-gradient(-45deg, #ee7752, #49fa4c, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 13s ease infinite;
  height: 100vh;
}
.mainWrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.41);
  max-width: 82vh;
  height: 100vh;
  margin: auto;
}
.slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}
.imagesWrapper {
  overflow: hidden;
  width: 29rem;
  height: 43rem;
  order: 1;
}
.images {
  display: flex;
  transition: transform 0.3s ease-in-out;
  height: 90vh;
}
.meme {
  width: 100%;
  height: 80%;
}
.dots {
  display: flex;
  align-items: center;
  margin-right: 0;
  max-width: 40%;
  margin-left: auto;
  order: 3;
}
.input {
  display: none;
}
.label {
  display: block;
  padding: 0.7rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: rgb(90, 175, 255);
  outline: 0.2rem solid rgb(0, 0, 0);
  outline-offset: -0.8rem;
  transition: all 0.3s linear;
  background-clip: content-box;
}
.label:hover {
  background-color: rgb(44, 37, 255);
}
.input:checked+.label {
  background-color: white;
}
.textWrapper {
  display: flex;
  align-items: center;
  max-width: 50%;
  overflow: hidden;
  order: 2;
}
.textContainer {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
.text {
  min-width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  color: #fff;
  padding: 1vh;
  background-color: rgba(255, 255, 255, 0.072);
}
.dots:has(#img1:checked)~.imagesWrapper .images {
  transform: translateX(0);
}
.dots:has(#img2:checked)~.imagesWrapper .images {
  transform: translateX(-100%);
}
.dots:has(#img3:checked)~.imagesWrapper .images {
  transform: translateX(-200%);
}
.dots:has(#img4:checked)~.imagesWrapper .images {
  transform: translateX(-300%);
}
.dots:has(#img1:checked)~.textWrapper .textContainer {
  transform: translateX(1%);
}
.dots:has(#img2:checked)~.textWrapper .textContainer {
  transform: translateX(calc(-103%));
}
.dots:has(#img3:checked)~.textWrapper .textContainer {
  transform: translateX(calc(-208%));
}
.dots:has(#img4:checked)~.textWrapper .textContainer {
  transform: translateX(calc(-310%));
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}